# Default public registry for everything
registry=https://registry.npmjs.org/

# Route @azure scoped packages to the Azure Artifacts feed
@azure:registry=https://pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/

# Auth for the Azure Artifacts feed
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:_password=QzFZMkY1MGtwa2tpeDFZZHhNeVBBRTFZWVJlUmlsY09FdnJtSThicmlzeTJ5ZmVtRE5DbkpRUUo5OUNDQUNBQUFBQUFBcm9oQUFBU0FaRE80QnJJ
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:email=neelesh@ai-horizon.io
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:always-auth=true

//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:_password=QzFZMkY1MGtwa2tpeDFZZHhNeVBBRTFZWVJlUmlsY09FdnJtSThicmlzeTJ5ZmVtRE5DbkpRUUo5OUNDQUNBQUFBQUFBcm9oQUFBU0FaRE80QnJJ
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:email=neelesh@ai-horizon.io
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:always-auth=true




# # Default public registry
# registry=https://registry.npmjs.org/

# # Azure private scopes
# @azure:registry=https://pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/
# @azure-ai-vision-face:registry=https://pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/

# # Authentication for Azure DevOps feed
# //pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:username=msface
# //pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:_password=
# //pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:email=neelesh@ai-horizon.io
# //pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:always-auth=true